In [88]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\ruben\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [89]:
import pandas as pd
from sqlalchemy import create_engine  #you need to install sqlalchemy
from getpass import getpass  #you can ignore this library, only used to not shown my pwd

In [90]:
pwd = getpass()

In [91]:
con = create_engine("mysql+pymysql://{user}:{pw}@localhost/{db}"
                       .format(user="root",
                               pw=pwd,         #your mysql workbench password
                               db='sports')) #db param change to your database name

In [92]:
df_skills = pd.read_csv('./toughestsport.csv')

In [93]:
df_skills.head(5)

,SPORT,Endurance,Strength,Power,Speed,Agility,Flexibility,Nerve,Durability,Hand-eye coordination,Analytical Aptitude,Total,Rank
0,Boxing,8.63,8.13,8.63,6.38,6.25,4.38,8.88,8.50,7.00,5.63,72.375,1
1,Ice Hockey,7.25,7.13,7.88,7.75,7.63,4.88,6.00,8.25,7.50,7.50,71.750,2
2,Football,5.38,8.63,8.13,7.13,6.38,4.38,7.25,8.50,5.50,7.13,68.375,3
3,Basketball,7.38,6.25,6.50,7.25,8.13,5.63,4.13,7.75,7.50,7.38,67.875,4
4,Wrestling,6.63,8.38,7.13,5.13,6.38,7.50,5.00,6.75,4.25,6.38,63.500,5

In [94]:
df_skills.drop(columns = ["Total", "Rank" ], inplace=True)

In [95]:
df_skills.head()

,SPORT,Endurance,Strength,Power,Speed,Agility,Flexibility,Nerve,Durability,Hand-eye coordination,Analytical Aptitude
0,Boxing,8.63,8.13,8.63,6.38,6.25,4.38,8.88,8.50,7.00,5.63
1,Ice Hockey,7.25,7.13,7.88,7.75,7.63,4.88,6.00,8.25,7.50,7.50
2,Football,5.38,8.63,8.13,7.13,6.38,4.38,7.25,8.50,5.50,7.13
3,Basketball,7.38,6.25,6.50,7.25,8.13,5.63,4.13,7.75,7.50,7.38
4,Wrestling,6.63,8.38,7.13,5.13,6.38,7.50,5.00,6.75,4.25,6.38

In [96]:
#melted_data = pd.melt(df, id_vars=['country', 'year'], value_vars=['Population', 'GDP'], var_name='Indicator', value_name='Value')

#melted_df_skills = pd.melt(df_skills, id_vars=['SPORT', 'Endurance', 'Strenght'], value_vars=['Endurance', 'Strenght'], )

melted_skill_data = pd.melt(df_skills, id_vars=['SPORT'], value_vars=['Endurance', 'Strength', 'Power', 'Speed', 'Agility',	'Flexibility', 'Nerve', 'Durability', 'Hand-eye coordination', 'Analytical Aptitude'], var_name='Skill', value_name='Value')
melted_skill_data

          SPORT                Skill  Value
0        Boxing            Endurance   8.63
1    Ice Hockey            Endurance   7.25
2      Football            Endurance   5.38
3    Basketball            Endurance   7.38
4     Wrestling            Endurance   6.63
..          ...                  ...    ...
595     Curling  Analytical Aptitude   5.63
596     Bowling  Analytical Aptitude   4.13
597    Shooting  Analytical Aptitude   4.00
598   Billiards  Analytical Aptitude   5.75
599     Fishing  Analytical Aptitude   2.88

[600 rows x 3 columns]

In [97]:
df_supplements = pd.read_csv('.\Sports Supplements.csv')

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ruben\AppData\Local\Temp\ipykernel_27512\4036191759.py:1: SyntaxWarning: invalid escape sequence '\S'
  df_supplements = pd.read_csv('.\Sports Supplements.csv')

In [98]:
df_supplements.head(3)

,supplement,alt name,"evidence level - score. 0 = no evidence, 1,2 = slight, 3 = conflicting , 4 = promising, 5 = good, 6 = strong",Claimed improved aspect of fitness,fitness category,sport or exercise type tested,OTW,popularity,number of studies examined,number of citations,...,Link to individual study.11,Link to individual study.12,Link to individual study.13,Link to individual study.14,Link to individual study.15,Link to individual study.16,Link to individual study.17,Link to individual study.18,Link to individual study.19,Link to individual study.20
0,AAKG,L-arginine alpha-ketoglutarate,1.0,peak power output,strength–power,weight training,OTW,242,1,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AAKG,L-arginine alpha-ketoglutarate,0.0,"body composition, aerobic capacity, muscle end...","fat burning–muscle building, aerobic–endurance",weight training,NaN,242,1,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Baking soda,"Bicarbonate of soda, sodium bicarbonate, NaHCO3",5.0,high-intensity performance,anaerobic–high-intensity,"rowing, cycling, swimming, running, other",NaN,947,14,140,...,http://onlinelibrary.wiley.com/o/cochrane/clce...,http://onlinelibrary.wiley.com/o/cochrane/clce...,http://onlinelibrary.wiley.com/o/cochrane/clce...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_supplements.columns = df_supplements.columns.str.strip()
df_supplements = df_supplements.rename(columns={
    "evidence level - score. 0 = no evidence, 1,2 = slight, 3 = conflicting , 4 = promising, 5 = good, 6 = strong": "evidence_level_score"
})

In [105]:
df_supplements.head(3)

,supplement,alt name,evidence_level_score,Claimed improved aspect of fitness,fitness category,sport or exercise type tested,popularity,number of studies examined,number of citations,notes,No. of individual studies / reviews,N positive studies / trials,% positive studies/ trials,main study source
0,AAKG,L-arginine alpha-ketoglutarate,1.0,peak power output,strength–power,weight training,242,1,20,A 2006 study found AAKG supplementation improv...,1,1,100.00%,Campbell et al (2006)
1,AAKG,L-arginine alpha-ketoglutarate,0.0,"body composition, aerobic capacity, muscle end...","fat burning–muscle building, aerobic–endurance",weight training,242,1,20,NaN,1,0,0.00%,Campbell et al (2006)
2,Baking soda,"Bicarbonate of soda, sodium bicarbonate, NaHCO3",5.0,high-intensity performance,anaerobic–high-intensity,"rowing, cycling, swimming, running, other",947,14,140,Gulping down baking soda (sodium bicarbonate) ...,14,9,64.29%,Siegler et al (2010)

In [101]:
df_supplements.columns

Index(['supplement', 'alt name',
       'evidence level - score. 0 = no evidence, 1,2 = slight, 3 = conflicting , 4 = promising, 5 = good, 6 = strong ',
       'Claimed improved aspect of fitness', 'fitness category',
       'sport or exercise type tested', 'OTW', 'popularity',
       'number of studies examined', 'number of citations', 'efficacy',
       'notes', 'exclude', 'Unnamed: 13', 'Cochrane systematic review',
       'Other International review board or metastudy',
       'no. of studies in Cochrane metastudy', 'no. of studies in metastudy',
       'year(s) of metastudy', 'No. of individual studies / reviews',
       'N positive studies / trials', '% positive studies/ trials',
       'main study source', 'Link to main individual study', 'Unnamed: 24',
       'Link to individual study', 'Link to individual study.1',
       'Link to individual study.2', 'Link to individual study.3',
       'Link to individual study.4', 'Link to individual study.5',
       'Link to individual study.6', 'Link to individual study.7',
       'Link to individual study.8', 'Link to individual study.9',
       'Link to individual study.10', 'Link to individual study.11',
       'Link to individual study.12', 'Link to individual study.13',
       'Link to individual study.14', 'Link to individual study.15',
       'Link to individual study.16', 'Link to individual study.17',
       'Link to individual study.18', 'Link to individual study.19',
       'Link to individual study.20'],
      dtype='object')

In [102]:
df_supplements.drop(columns = ['OTW', 'efficacy', 'exclude', 'Unnamed: 13', 'Cochrane systematic review', 'Other International review board or metastudy',	'no. of studies in Cochrane metastudy',	'no. of studies in metastudy', 'year(s) of metastudy',	'Link to main individual study', 'Unnamed: 24',
       'Link to individual study', 'Link to individual study.1',
       'Link to individual study.2', 'Link to individual study.3',
       'Link to individual study.4', 'Link to individual study.5',
       'Link to individual study.6', 'Link to individual study.7',
       'Link to individual study.8', 'Link to individual study.9',
       'Link to individual study.10', 'Link to individual study.11',
       'Link to individual study.12', 'Link to individual study.13',
       'Link to individual study.14', 'Link to individual study.15',
       'Link to individual study.16', 'Link to individual study.17',
       'Link to individual study.18', 'Link to individual study.19',
       'Link to individual study.20'], inplace=True)

In [ ]:
melted_skill_data.to_sql("skills", con = con)  #SENDING THE TABLE TO THE DATABASE

In [106]:
df_supplements.to_sql("supplements", con = con)  #SENDING THE TABLE TO THE DATABASE

96